@import "../../assets/scss/variables.scss";

.spacing-grid {
  .spacing-equally {
    .spacing-line {
      margin-top: calc(32px + (48 - 32) * ((100vw - 320px) / (1920 - 320)));
      ul {
        display: flex;
        padding: 30px 0;
        justify-content: center;
        li {
          padding: 0 15px;
          display: flex;
          align-items: flex-end;
          position: relative;
          h4 {
            color: $primary-color;
            position: absolute;
            left: 8px;
          }
          .line {
            height: 170px;
            width: 3px;
            background-color: $primary-color;
            margin: 0 auto;
          }
          &:nth-child(odd) {
            h4 {
              top: -30px;
            }
          }
          &:nth-child(even) {
            .line {
              height: 100px;
            }
            h4 { 
              bottom: -30px;
              margin: 0;
            }
          }
        }
      }
    }
  }
}

// spacing classes

/*====== Padding css starts ======*/
$i:0;
@while $i<=80 {
  .p-#{$i} {
    padding:#{$i}px;
  }
  $i:$i+4;
}
/*====== Padding css ends ======*/

/*====== Padding-left css starts ======*/
$i:0;
@while $i<=80 {
  .p-l-#{$i} {
    padding-left:#{$i}px;
  }
  $i:$i+4;

}
/*====== Padding-left css ends ======*/

/*====== Padding-top css starts ======*/
$i:0;
@while $i<=80 {
  .p-t-#{$i} {
    padding-top:#{$i}px;
  }
  $i:$i+4;
}
/*====== Padding-top css ends ======*/


/*====== Padding-bottom css starts ======*/
$i:0;
@while $i<=80 {
  .p-b-#{$i} {
    padding-bottom:#{$i}px;
  }
  $i:$i+4;
}
/*====== Padding-bottom css ends ======*/

/*====== Padding-right css starts ======*/
$i:0;
@while $i<=80 {
  .p-r-#{$i} {
    padding-right:#{$i}px;
  }
  $i:$i+4;
}
/*====== Padding-right css ends ======*/

/*====== Padding-lef-right css starts ======*/
$i:0;
@while $i<=80 {
  .p-x-#{$i} {
    padding: 0 #{$i}px;
  }
  $i:$i+4;
}
/*====== Padding-left-right css ends ======*/

/*====== Padding-top-bottom css starts ======*/
$i:0;
@while $i<=80 {
  .p-y-#{$i} {
    padding:#{$i}px 0;
  }
  $i:$i+4;
}
/*====== Padding-top-bottom css ends ======*/


/*====== Margin css starts ======*/
$i:0;
@while $i<=80 {
  .m-#{$i} {
    margin:#{$i}px;
  }
  $i:$i+4;
}
/*====== Margin css ends ======*/

/*====== Margin-top css starts ======*/
$i:0;
@while $i<=80 {
  .m-t-#{$i} {
    margin-top:#{$i}px;
  }
  $i:$i+4;
}
/*====== Margin-top css ends ======*/

/*====== Margin-Bottom css starts ======*/
$i:0;
@while $i<=80 {
  .m-b-#{$i} {
    margin-bottom:#{$i}px;
  }
  $i:$i+4;
}
/*====== Margin-Bottom css ends ======*/

/*====== Margin-left css starts ======*/
$i:0;
@while $i<=80 {
  .m-l-#{$i} {
    margin-left:#{$i}px;
  }
  $i:$i+4;
}
/*====== Margin-left css ends ======*/

/*====== Margin-right css starts ======*/
$i:0;
@while $i<=80 {
  .m-r-#{$i} {
    margin-right:#{$i}px;
  }
  $i:$i+4;
}
/*====== Margin-right css ends ======*/

/*====== Margin-left-right css starts ======*/
$i:0;
@while $i<=80 {
  .m-x-#{$i} {
    margin:0 #{$i}px;
  }
  $i:$i+4;
}
/*====== Margin-left-right css ends ======*/

/*====== Margin-top-bottom css starts ======*/
$i:0;
@while $i<=80 {
  .m-y-#{$i} {
    margin:#{$i}px 0;
  }
  $i:$i+4;
}
/*====== Margin-top-bottom css ends ======*/

// metrics classes
$i:8;
@while $i<=112 {
  .metric-#{$i} {
    width:#{$i}px;
    height:#{$i}px;
    background-color: $primary-color;
  }
  $i:$i+8;
}

.metrics {
  .metric-boxes {
    display: flex;
    > div {
      min-width: 250px;
    }
    h3 {
      margin-bottom: 0;
      font-family: "GothamRoundBold";
    }
    + .metric-boxes {
      margin-top: calc(32px + (64 - 32) * ((100vw - 320px) / (1920 - 320)));
    }
  }
}

.device-space {
  .d-flex {
    justify-content: space-between;
  }
  .grid-option {
    h3 {
      text-transform: uppercase;
    }
    ul {
      li {
        display: block;
        span {
          min-width: 180px;
          display: inline-block;
          font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (1920 - 320)));
          color: $gray-color1;
        }
        h4 {
          display: inline-block;
          text-transform: inherit;
        }
        &:last-child {
          h4 {
            margin-bottom: 0;
          }
        }
      }
    }
  }
}


// responsive css
@media (max-width: 1460px) {
  .device-space {
    .d-flex {
      flex-wrap: wrap;
      .grid-option {
        max-width: 50%;
        flex: 0 0 50%;
        &:last-child {
          margin-top: calc(16px + (32 - 16) * ((100vw - 320px) / (1920 - 320)));
        }
      }
    }
  }
}
@media (max-width: 991px) {
  .grid-wrapper {
    padding: 0;
  }
  .spacing-grid {
    .spacing-equally {
      .spacing-line {
        ul {
          li {
            padding: 0 8px;
            h4 {
              left: 0;
            }
          }
        }
      }
    }
  }
  .metrics {
    .metric-boxes {
      > div {
        min-width: 140px;
      }
    }
  }
}
@media (max-width: 767px) {
  .device-space {
    .d-flex {
      flex-wrap: wrap;
      .grid-option {
        max-width: 100%;
        flex: 0 0 100%;
        +  .grid-option {
          margin-top: 16px;
        }
      }
    }
  }
}

@media (max-width: 575px) {
  .spacing-grid {
    .spacing-equally {
      .spacing-line {
        ul {
          li {
            padding: 0 4px;
            .line {
              width: 2px;
              height: 120px;
            }
            &:nth-child(even) {
              .line {
                height: 80px;
              }
            }
            h4 {
              font-size: 12px;
            }
          }
        }
      }
    }
  }
  .metrics {
    .row {
      > div {
        + div {
          margin-top: 32px;
        }
      }
    }
  }
}